<!DOCTYPE html>
<!-- Spring boot por defecto carga esta pagina -->
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Reciper</title>
	<!-- Definimos aqui el CSS de bootstrap porque me da problemas al intentar incluirlo en el package.json para usar el npm -->
	<link
  		rel="stylesheet"
  		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  		crossorigin="anonymous"
	/>
	<link rel="stylesheet" href="css/main.css" />
</head>
<body>
	<div id="react"></div>

	<script src="built/bundle.js"></script>
</body>
</html>