<!DOCTYPE html>
<!-- Spring boot por defecto carga esta pagina -->
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Reciper</title>
	<!-- Definimos aqui el CSS de bootstrap porque me da problemas al intentar incluirlo en el package.json para usar el npm -->
	<link
  		rel="stylesheet"
  		th:href="@{/css/bootstrap.min.css}"
  		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  		crossorigin="anonymous"
	/>
	<link rel="stylesheet" href="css/main.css" />
</head>
<body>
	<div th:replace="layout/header :: header">
	<!-- Este trozo solos eutilizara para ver el prototipo. En el servidor lo sustituira el fragment header de layout/header.html -->
		<div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Static header</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
            </ul>
          </div>
        </div>
	</div>

	<div id="react"></div>

	<script th:src="@{/js/jquery-3.4.1.min.js}" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js}" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="built/bundle.js"></script>
</body>
</html>